*{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}

.top-wrapper{
  max-width: auto;
  margin: auto;
  padding:20px;
}

.nav ul{
  margin: 0 3rem 0 0;
  padding: 0;
  list-style:none;
  display: flex;
  flex: 1 0 0%;
  justify-content: space-evenly;
  font-size: 1.3em;
}
a{
  text-decoration: none;
  color: rgb(122, 7, 7);
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container{
  align-items: center;
}
.container h1{ 
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
  padding: 50px;
  font-size: 100px;
}
.content{ 
  text-align: center;
}

.row p{
  display: flex; 
}
.column p{
flex: 50%;
padding:10px;
height:100px;
}

@media screen(max-width:900px)