<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./about.css">
  <title>Document</title>
</head>

<body>
  <div class="top-wrapper">
    <div class="nav">
      <ul>
        <li class="page-collection">
          <a href="./about.html">ABOUT</a>
        </li>
        <li class="page-collection">
          <a href="./contact.html">CONTACT</a>
        </li>
        <li class="page-collection">
          <a href="./gallery.html">GALLERY</a>
        </li>
        <li class="page-collection">
          <a href="./blog.html">BLOG</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <h1>About Us</h1>
    <div class="picture">
      <img src="./CEO.jpg"></div>

    <div class="content">
      <h2>Parker Lawson</h2>
    </div>
    <div class="row" 
    <div class="column">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore
      magna aliqua.
      Lacus vestibulum sed arcu non odio euismod lacinia at quis. Gravida dictum fusce ut placerat orci nulla
      pellentesque dignissim enim.
      Elit pellentesque habitant morbi tristique senectus et netus et.
      Eget mauris pharetra et ultrices neque ornare. Amet facilisis magna etiam tempor orci eu lobortis elementum.
      Faucibus et molestie ac feugiat sed lectus.
      Ullamcorper malesuada proin libero nunc consequat interdum varius sit. Tortor condimentum lacinia quis vel.
      Consequat semper viverra nam libero justo laoreet sit amet.
      Montes nascetur ridiculus mus mauris vitae ultricies leo. Tincidunt tortor aliquam nulla facilisi cras fermentum
      odio eu feugiat.</p>
    </div>
      <div class="column">
      <p>Dignissim sodales ut eu sem integer. Nulla malesuada pellentesque elit eget gravida cum sociis natoque.
        Imperdiet
        proin fermentum leo vel orci porta.
        Mi tempus imperdiet nulla malesuada.
        Ultricies lacus sed turpis tincidunt id aliquet risus feugiat.
        Nulla facilisi etiam dignissim diam quis enim.
        Ullamcorper sit amet risus nullam eget felis eget nunc lobortis. Commodo quis imperdiet massa tincidunt nunc
        pulvinar sapien et ligula. Purus faucibus ornare suspendisse sed nisi lacus.
        Sit amet massa vitae tortor condimentum lacinia quis vel eros. Eget nulla facilisi etiam dignissim diam quis
        enim
        lobortis scelerisque. Tristique et egestas quis ipsum suspendisse ultrices gravida. Nulla pellentesque dignissim
        enim sit. Iaculis nunc sed augue lacus viverra vitae congue eu consequat. Porttitor rhoncus dolor purus non
        enim.
        Elementum facilisis leo vel fringilla est. Auctor augue mauris augue neque. Etiam tempor orci eu lobortis. Morbi
        leo urna molestie at elementum eu facilisis sed odio.</p>
        </div>
    </div>
  </div>
</body>

</html>