<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Salon Blog</title>
  <link rel="stylesheet" href="../styles/blog.css">
  <link rel="ttps://www.esalon.com/hair-color-mastery">
</head>

<body>
  <div class="top-wrapper">
    <div class="nav">
      <ul>
        <li class="page-collection">
          <a href="./about.html">ABOUT</a>
        </li>
        <li class="page-collection">
          <a href="./contact.html">CONTACT</a>
        </li>
        <li class="page-collection">
          <a href="./gallery.html">GALLERY</a>
        </li>
        <li class="page-collection">
          <a href="./blog.html">BLOG</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="bodycontainer">
    <div class="boxone">
      <div class="img">
        <img src="./img-1.jpg" alt="">
      </div>
      <h3>HOW TO KEEP HAIR COLOR FROM FADING</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
      <p><a href="https://www.esalon.com/hair-color-mastery">READ THIS</a></p>
    </div>

    <div class="boxtwo">
      <div class="img">
        <img src="./img-2.jpg" alt="">
      </div>
      <h3>HOW TO KEEP YOUR HEALTHY</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
      <p><a href="https://www.esalon.com/hair-color-mastery">READ THIS</a></p>
    </div>

    <div class="boxthree">
      <div class="img">
        <img src="./img-3.jpg" alt="">
      </div>
      <h3>GET YOU HAIRCUT EVERY SIXWEEKS</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
      <p><a href="https://www.esalon.com/hair-color-mastery">READ THIS</a></p>
    </div>
  </div>
</body>

</html>