
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}

.nav ul{
  margin: 0 3rem 0 0;
  padding: 0;
  list-style:none;
  display: flex;
  flex: 1 0 0%;
  justify-content: space-evenly;
  font-size: 1.3em;
}
a{
  text-decoration: none;
  color: rgb(122, 7, 7);
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section{
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:white;
}

section::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: black;
}

section .container{
  position: relative;
  min-width: 1100px;
  min-height:550px;
  display: flex;
  z-index: 1000;
}

section .container .contactinfo {
  position: absolute;
  top: 40px;
  width:350px;
  background: white;
  z-index: 1;
  padding:40px;
   display: flex; 
  flex-direction: column;
  box-shadow: 0 20px 20px black;
}
section .container .contactinfo h2{
  color:black;
  font-size: 24px;
  font-weight: 500;
}
section .container .contactinfo .info{
  position: relative;
  margin: 20px 0;
}
section .container .contactinfo .info li{
  position: relative;
  list-style: none;
  margin: 20px 0;
}
section .container .contactinfo .info li span:nth-child(1){
  width:30px;
  min-width:30px;
}
section .container .contactinfo .info li span:nth-child(2){
  color: white;
  margin-left: 10px;
  font-weight: 300;
  opacity:0.5;
}
section .container .contactinfo .info li span:nth-child(2){
  opacity: 1;
}

section .container .contactform{
  position: absolute;
  padding: 70px 50px;
  background: white;
  margin-left: 150px;
  padding-left: 250px;
  width: calc(100% 150px);
  height: 100%;
  box-shadow:0 50px 50px black;
}
section .container .contactform h2{
  color:black;
  font-size: 24px;
  font-weight: 500;
}
section .container .contactform .formBox{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}
section .container .contactform .formBox .inputBox {
  position: relative;
  margin: 0 0 35px 0;
}

 section .container .contactform .formBox .inputBox .w50{
  width: 47%;
}

section .container .contactform .formBox .w100{
width: 100%;
}

section .container .contactform .formBox .inputBox input,
section .container .contactform .formBox .inputBox textarea{
width: 100%;
padding: 5px 0;
resize: none;
font-size: 18px;
font-weight: 300;
color: black;
border: none;
border-bottom: 1px solid gray;
outline: none;
}
section .container .contactform .formBox .inputBox textarea{
min-height: 120px;
}
section .container .contactform .formBox .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: black;
  transition: 0.5s;
  pointer-events: none;
}
section .container .contactform .formBox .inputBox input:focus ~ span,
section .container .contactform .formBox .inputBox textarea:focus ~ span,
section .container .contactform .formBox .inputBox input:valid ~ span,
section .container .contactform .formBox .inputBox textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: brown;
}
section .container .contactform .formBox .inputBox input [type="submit"]{
  position:relative;
  cursor: pointer;
  background: black;
  color:white;
  border: none;
  max-width: 150px;
  padding: 12px;
}
/* @media screen and (max-width: 570px) {
  section {
    flex-wrap: wrap;
  }
  .container {
    height: 30px;
    width: 100%;
    margin: 15px 15px 15px 15px;
  }
  body {
    font-size: .8em;
  }
} */
