<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./gallery.css">
  <title>Salon Image Gallery</title>
</head>

<body>

  <div class="top-wrapper">
    <div class="nav">
      <ul>
        <li class="page-collection">
          <a href="./about.html">ABOUT</a>
        </li>
        <li class="page-collection">
          <a href="./contact.html">CONTACT</a>
        </li>
        <li class="page-collection">
          <a href="./gallery.html">GALLERY</a>
        </li>
        <li class="page-collection">
          <a href="./blog.html">BLOG</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="box">
      <div class="imgBox">
        <img src="images/img-1.jpg">
      </div>
      <div class="details">
        <div class="content">
          <p>WORDS</p>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="imgBox">
        <img src="images/img-2.jpg">
      </div>
      <div class="details">
        <div class="content">
          <p>WORDS</p>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="imgBox">
        <img src="images/img-3.jpg">
      </div>
      <div class="details">
        <div class="content">
          <p>WORDS</p>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="imgBox">
        <img src="images/img-4.jpg">
      </div>
      <div class="details">
        <div class="content">
          <p>WORDS</p>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="imgBox">
        <img src="images/img-5.jpg">
      </div>
      <div class="details">
        <div class="content">
          <p>WORDS</p>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="imgBox">
        <img src="images/img-6.jpg">
      </div>
      <div class="details">
        <div class="content">
          <p>WORDS</p>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="imgBox">
        <img src="images/img-7.jpg">
      </div>
      <div class="details">
        <div class="content">
          <p>WORDS</p>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="imgBox">
        <img src="images/img-8.jpg">
      </div>
      <div class="details">
        <div class="content">
          <p>WORDS</p>
        </div>
      </div>
    </div>

  </div>
</body>

</html>