* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.nav ul{
  margin: 0 3rem 0 0;
  padding: 0;
  list-style:none;
  display: flex;
  flex: 1 0 0%;
  justify-content: space-evenly;
  font-size: 1.3em;
}
.top-wrapper{
  max-width: auto;
  margin: auto;
  padding:20px;
  text-decoration: none;
}

.contactinfo {
  position: absolute;
  top: 40px;
  width:350px;
  background: white;
  z-index: 1;
  padding:40px;
  display: flex; 
  flex-direction: column;
}
h2{
  color:black;
  font-size: 24px;
  font-weight: 500;
}

.formBox{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}
.inputBox {
  position: relative;
  margin: 0 0 35px 0;
}
section .w50 {
  width: 47%;
}
section .w100 {
width: 100vh;
}
input,
textarea{
width: 100%;
padding: 5px 0;
resize: none;
font-size: 18px;
font-weight: 300;
color: black;
border: none;
border-bottom: 1px solid gray;
outline: none;
}

textarea{
min-height: 120px;
}
section .contactform .formBox .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: black;
  transition: 0.5s;
  pointer-events: none;
}
section .contactform .formBox .inputBox input:focus ~ span,
section .contactform .foãmBox .inputBox textarea:focus ~ span,
section .contactform .formBox .inputBox input:valid ~ span,
section .contactform .formBox .inputBox textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: brown;
}

@media screen and (max-width: 500px) {
  .nav ul{
    margin: 20px;
    padding: 20px;
    list-style:none;
    display: flex;
    flex: center;
    justify-content: space-between;
    font-size: 90%;
    background-color: black;
  }
  .nav a{
    text-decoration: none;
    color:white;
  }
  .contactinfo {
    top: 40px;
    width:350px;
    background: white;
    z-index: 1;
    padding:40px;
    display: flex; 
    flex-direction: column;
    box-sizing: border-box;
  }
}
