body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.top-wrapper{
  max-width: auto;
  margin: auto;
  padding:20px;
}

.nav ul{
  margin: 0 3rem 0 0;
  padding: 0;
  list-style:none;
  display: flex;
  flex: 1 0 0%;
  justify-content: space-evenly;
  font-size: 1.3em;
}
a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.container{
width: 1280px;
margin: 70px auto 0;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

img {
  width: 400px;
  height: 200px;
  object-fit: cover;
}
.container .box{
  position: relative;
  /* width:300px;
  height:300px; */
  box-sizing: border-box;
  display: inline-block;
}
.container .box .imgBox{
  position: relative;
  object-fit: cover;
}
.container .box .imgBox img{
  /* max-width: 250px;
  max-height: 250px;  */
  transition: transform 2s; 
}
.container .box:hover .imgBox img{ 
  transform: scale(1.2);
}
.container .box .details{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right:10px;
  background: rgba(0,0,0, .8);
  transform: scaleY(0);
  transition: transform .5s;
}
.container .box:hover .details{
  transform: scaleY(0);
}

.container .box .details .content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;
  color: #fff;
}
.container .box .details .content p{
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #ff0;
}
@media screen and (max-width: 600px) {
  .container{
    flex-direction: column;
  }
  .box {
    width: 100%;
  }
  .nav ul{
    margin: 20px;
    padding: 20px;
    list-style:none;
    display: flex;
    flex: center;
    justify-content: space-between;
    font-size: 90%;
    background-color: black;
  }
  a{
    text-decoration: none;
    color: white;
  }
}